---
import "../styles/globals.css";

import Navbar from "../components/Navbar.astro";
import siteConfig from "../utils/site";

const { content } = Astro.props;
---

<html lang="en">

<head>
	<title>{content.title}</title>

	<link rel="icon" type="image/x-icon" href={siteConfig.assets.favicon}>

	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="title" content={content.title}>
	<meta name="description" content={content.description}>
	<meta name="keywords" content={siteConfig.keywords}>
	<meta name="robots" content="index, follow">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="language" content="English">
	<meta name="author" content={siteConfig.details.title}>

	<meta property="og:type" content="website">
	<meta property="og:url" content={siteConfig.details.url}>
	<meta property="og:title" content={content.title}>
	<meta property="og:description" content={content.description}>
	<meta property="og:image" content={siteConfig.assets.avatar}>

	<meta property="twitter:card" content="summary_large_image">
	<meta property="twitter:url" content={siteConfig.details.url}>
	<meta property="twitter:title" content={siteConfig.details.title}>
	<meta property="twitter:description" content={content.description}>
	<meta property="twitter:image" content={siteConfig.assets.avatar}>
</head>

<body class=" space-y-8">
	<Navbar />
	<article class="p-4 max-w-2xl mx-auto prose">
		<h1>{content.title}</h1>
		<h2>{content.description}</h2>

		<slot />

	</article>
</body>

</html>
